#################################################################################
#
# S0/Impulse to Volkszaehler 'RaspberryPI deamon'.
#
# https://github.com/w3llschmidt/s0vz.git
# https://github.com/volkszaehler/volkszaehler.org.git
#
# Henrik Wellschmidt <w3llschmidt@gmail.com>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <http://www.gnu.org/licenses/>.
#
###############################################################################

/* Hostname, FQDN or IP of your VZ - normaly this should be 'localhost' */
//vzserver = "localhost";
vzserver = "192.168.24.120"; //--> send it to a remote host

/* Path to the VZ middleware.php script, WITHOUT preposed and trailing slash */
//vzpath = "middleware.php";
vzpath = "volkszaehler/htdocs/middleware.php";

/* HTTP Port of your VZ */
vzport = 80;

/* S0 Inputs; VZ chanel type: Strom_messer_ / Gas (Steps/Stufen) */
/* in s0Power2vz only 6 inputs supported 			 */
//GPIO0 = "19df8bd0-cf13-11e3-af9e-6fd6ddb5f85c"; --> S0 - Impulse
GPIO0 = "fd3aec80-ed45-11e3-834a-11f2a80cada3";
GPIO1 = "eins";
GPIO2 = "zwei";
GPIO3 = "drei";
GPIO4 = "vier";
GPIO5 = "funf";
GPIO6 = "sechs";


/* define the update time off the middleware
   in which intervall should the data send via curl to the middleware
   Timebase Seconds */
updateTime = 60;

/* define the log level 
#0=nothing, 1=errors+state, 2=warnings, 3=info
*/
debug = 1;


