# Contents of /etc/systemd/system/s0Power2vz.service
[Unit]
Description= S0/Impulse->Power to Volkszaehler 'RaspberryPI deamon
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/sbin/s0Power2vz

[Install]
WantedBy=multi-user.target
